name: Build and Test

on:
  push:
    branches: [ "main", "master" ]
  pull_request:
    branches: [ "main", "master" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Set up Go
      uses: actions/setup-go@v5
      with:
        go-version: '1.25'
    - name: Install dependencies
      run: go mod download
    - name: Verify Code Formatting
      run: if [ -n "$(gofmt -l .)" ]; then exit 1; fi
    - name: Vet
      run: go vet ./...
    - name: Build
      run: go build -v ./...
    - name: Test
      run: go test -v ./...
